@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}

/* thin scrollbars for sidebar/panels */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99) transparent;
}
